openapi: 3.1.0
info:
  contact:
    email: contact@verbatim-ai.com
    name: Verbatim AI API Helpdesk
    url: https://www.verbatim-ai.com/contact/
  description: |2


    ## Concepts
    API of the **Verbatim AI** Retrieval-Augmented-Generation (RAG) platform is built over 5 domains:
    - **Corpus** — a knowledge base. Holds documents, sessions, and is bound to an embedding model and a summary LLM.
    - **Document** — a file ingested into a corpus (PDF, DOCX, HTML…).
    - **Chunk** — one embeddable piece of a document, produced by ingestion. The unit retrieval actually returns.
    - **Session** — a conversation thread bound to one or more corpora.
    - **Post** — a single user query or system answer inside a session. Answers reference attachments (the chunks used as context).

    ## Authentication
    Two authentication methods are accepted on endpoints:

    | Method | Header | Allowed HTTP methods | Use case |
    |--------|--------|----------------------|----------|
    | **JWT Bearer** | `Authorization: Bearer <jwt>` | All | Server-to-server calls with your RSA-signed JWT |
    | **Access Token** | `X-Access-Token: <token>` | **Defined by the scope of the token** | Short-lived tokens issued by `POST /v1/access-token/` |

    ## API status
    Get a fresh status from our [API Status dashboard](https://verbatim-ai.openstatus.dev/). Events, maintenance schedules and incidents will be reported in this page.

    ## Conventions
    - **Pagination** — list endpoints accept `pageSize` (default `25`) and `pageIndex` (default `0`).
    - **IDs** — all resource identifiers are UUIDv4 strings.
    - **Timestamps** — ISO-8601 (`2026-04-23T04:06:51Z`).
    - **Errors** — non-2xx responses return a JSON body matching the `Error` schema.
    ---
  license:
    name: Terms of use
    url: https://www.verbatim-ai.com/terms-of-use
  title: Verbatim AI — GenAI Backend API
  version: v1
  x-logo:
    url: https://www.verbatim-ai.com/images/logo.svg
    href: https://www.verbatim-ai.com/
    altText: Verbatim AI
servers:
- description: Production
  url: https://api.verbatim-ai.com
- description: Staging
  url: https://staging-api.verbatim-ai.com
tags:
- description: |
    What this deployment is configured to serve, so a client can discover it instead of
    hard-coding it.

    `GET /v1/config/model` returns the LLM identifiers accepted anywhere a model is named —
    today that is an agent's `baseModel` and `rerankModel`. The names are short aliases
    (`gemma4`, `mistral`) mapped server-side to concrete provider models, so the mapping can
    change under you without breaking a stored agent.

    The list is the same for every caller and moves with the deployment, which is the reason to
    read it rather than embed it: agents validate model names **at write time**, so a name that
    is not in this list is a `400` on the request that set it rather than a failure on every
    query the agent later runs. Populating a picker from this endpoint is what keeps the two in
    step.

    Accepted document content types are **not** here — they belong to ingestion and live at
    `GET /v1/doc/accept`.
  name: Configuration
- description: |
    A **document** is a file ingested into a corpus. Ask `GET /v1/doc/accept` for the content
    types accepted rather than hard-coding a list — it is configuration, and it changes.

    **File bytes never travel through this API.** An upload is three calls and one direct
    transfer: `POST /v1/doc/init` registers the document and returns a presigned `PUT` URL, your
    client PUTs the bytes straight to object storage, and `POST /v1/doc/{id}/commit` confirms the
    upload and queues ingestion. The signature is bound to the `contentType` declared at `init`,
    so the PUT has to send that same one or storage rejects it.

    Ingestion — conversion to Markdown, summarization, chunking, embedding — is **asynchronous**,
    and `status` is how you follow it:

    | Status | Meaning |
    |---|---|
    | `AWAITING_UPLOAD` | Registered; the bytes have not been committed yet |
    | `PENDING` | Committed and queued for the next processing batch |
    | `PROCESSING` | Ingestion is running |
    | `READY` | Ingested and searchable |
    | `FAILED` | Ingestion failed — the reason is in `statusMsg` |

    Poll `GET /v1/doc/{id}/status` for that, and expect `AWAITING_UPLOAD` to be an ordinary state
    rather than an error: it is where a document sits between `init` and `commit`. Only a `READY`
    document can be retrieved by a query, and the counters `size`, `tokens`, `nbWords` and
    `nbPages` are filled in by ingestion, so they are absent until it finishes.

    What ingestion produced is readable elsewhere: the generated summary at
    `GET /v1/doc/{id}/summary`, and the pieces the file was split into under `/v1/chunk` — which
    is where to look when an answer cites something surprising.

    Two typed attributes are worth setting, both at `init` and patchable afterwards. `tags` is a
    list of labels you can filter listings on. `chunk` overrides how ingestion splits *this*
    document; it applies to the **next** ingestion and never retroactively, so changing it on an
    ingested document does nothing until you replace its content.

    Replacing content is `PUT /v1/doc/{id}/init` → PUT the bytes → `commit`, and it **drops
    everything derived from the previous file** — its chunks, its summary and its counters. Posts
    that cited the old chunks lose those attachments. Note also that the previous file stays in
    storage until your PUT overwrites it, so committing without uploading re-ingests the old
    content.

    `DELETE` is a soft delete and cascades to the document's chunks, which are soft-deleted with
    it; the archived file and the chunks' stored text are kept rather than destroyed, but no
    public endpoint restores any of it.
  name: Document
- description: |
    An **agent** is the setup a RAG query runs on: how many chunks the vector search returns,
    whether an LLM re-ranks them, what system instruction the model is given, how much of the
    conversation is replayed, and which models answer. Before agents these were platform-wide
    constants; an agent makes them a per-query choice.

    Two kinds show up on these endpoints:

    | | `lock`  | Who can write it |
    |---|---|---|
    | **Core** | `true` |  Nobody — seeded and owned by the platform |
    | **Custom** | `false` |  Your organization |

    Core agents are visible to every organization and are the ones you get without configuring
    anything. Six ship with the platform — `Verbatim Default` plus one per use case:
    `Verbatim Helpdesk`, `Verbatim Legal`, `Verbatim Marketing`, `Verbatim Daily` and
    `Verbatim R&D`. They run the same retrieval and the same models, and differ only in the
    system instruction, so choosing between them chooses a register rather than a different
    search. Exactly one, `Verbatim Default`, carries `default: true` and is what a query naming
    no agent runs on. Create a custom agent when you want to depart from all of them.

    Nullable fields are **overrides, not copies**. Leaving one out ties it to the platform
    default, so a default retuned later moves your agent with it; setting it pins your value.
    `reset` on update is how you go back.

    `name` identifies an agent to whoever picks one from a list, so it has to be unmistakable
    within that list: it must be free among your own agents *and* among the core agents you see
    alongside them. Creating or renaming onto a name either of those holds answers `409`.
  name: Agent
- description: |
    Mint the credentials untrusted clients use, and check who a token belongs to.

    The platform accepts two credentials. An **RSA JWT** is signed by your backend with a key you
    published, carries your organization in its `oid` claim, and is the one you keep server-side.
    An **access token** is a short-lived opaque string minted from that JWT and safe to hand to
    code you do not control — a browser widget, a mobile client.

    The flow is always one direction: **your backend holds the JWT → mints an access token → the
    untrusted client uses the access token.** These endpoints are themselves reachable with a JWT
    only, so an access token can never mint or revoke another — a leaked one cannot extend its
    own life or widen its own reach.

    Two things bound what a leaked token can do. It **expires** — one hour by default, settable
    at creation — and it carries a mandatory **scope**, a list of `DOMAIN:ACTION` entries such as
    `corpus:read` or `post:create`. Unlike a JWT, where an empty scope means unrestricted, an
    access token with no scope is refused at creation, so browser-facing credentials are always
    least-privilege. `ACTION` is derived from the HTTP method — `GET` is `read`, `POST` is
    `create`, `PUT`/`PATCH` are `update`, `DELETE` is `delete` — which is worth checking against
    the endpoint you mean to allow: running a RAG query is `GET /v1/post/q`, so it needs
    `post:read`.

    Revocation is immediate and by token value. `GET /v1/auth/whoami` resolves whichever
    credential you sent back to its organization and user, which is the cheap way to confirm a
    token is still live and what it is bound to.
  name: Auth
- description: |
    A **session** is a conversation: the thread a question is asked in, and the memory the next
    question is answered with. It binds three things — the corpora it searches, the user who
    opened it, and whatever `metadata` you attach — and nothing else.

    It may be bound to **several corpora**, and a query then searches all of them at once, which
    is how one conversation spans separate knowledge bases. The corpora are fixed when the
    session is opened; only `metadata` is patchable afterwards.

    The owner comes from your token, never from the request body. Two tenants using the same
    user identifier therefore never see each other's sessions — the organization is resolved
    from the JWT and applied to every read, so there is no parameter that widens the search
    beyond it.

    **A session decides where to look, not how to answer.** Retrieval width, re-ranking, the
    system instruction, how much history is replayed and which model answers all belong to the
    agent named on each query (`GET /v1/agent/`) — chosen per query, so two questions in one
    session can run under two different setups. Sessions opened before agents existed carry a
    `model` field; it is deprecated, read-only and ignored.

    `GET /v1/session/q` narrows your organization's sessions by owner, corpus and metadata, every
    filter optional and combining; `GET /v1/session/` is the same query with no filter at all.
    The `by…` endpoints they replace each answered one fixed combination and are deprecated.

    The messages live under `/v1/post`: `GET /v1/post/q` asks a question in a session, and
    `GET /v1/post/?sessionId=…` reads the thread back. `DELETE` soft-deletes a session **and
    cascades to its posts**; the documents and chunks they cited are untouched.
  name: Session
- description: |
    A **post** is one message inside a session: either a user question (`owner: USER`) or the
    answer the platform produced for it (`owner: SYSTEM`). They are created in pairs — one
    exchange is two posts — and the rest of this domain follows from that.

    `GET /v1/post/q` is how you ask a question, and it is the one endpoint here that **writes**:
    it persists the question, vectorizes it, runs a similarity search over the session's corpora,
    feeds the best chunks to the model and persists the answer, returning both posts. It being a
    `GET` has a consequence worth knowing when minting access tokens: scopes are derived from the
    HTTP method, so running a query requires `post:read`, not `post:create`. A token you thought
    was read-only can ask questions.

    **The agent decides how the pipeline runs** — retrieval width, whether chunks are re-ranked,
    the system instruction, how much of the conversation is replayed, which model answers. Pass
    `agentId` to run one query under a specific agent (`GET /v1/agent/`), or omit it for the
    platform default. The choice is **per query, not per session**, so escalating a hard question
    to a wider, slower agent does not change the conversation it belongs to. Both posts of the
    exchange record the agent that ran, so aggregating on it counts questions as well as answers.

    **Attachments are the citations.** An answer references the chunks that were fed to the model
    as context, and `GET /v1/post/attachment/{postId}` resolves them to their source documents and
    pages, with presigned URLs to download the file or render page previews. On the post itself,
    `attachment` is the *count* of those sources, not the list. An answer may legitimately have
    zero — the model can respond without retrieving anything.

    Citations are resolved at answer time and are not re-derived afterwards, so they can go stale
    in one direction: deleting a chunk (`DELETE /v1/chunk/{chunkId}`), deleting its document, or
    replacing that document's content all leave the attachments pointing at it unresolvable, and
    an old answer then keeps its text while losing the sources behind it.

    `GET /v1/post/` paginates a session's posts and takes an `order`: `DESC` — the default —
    reads the conversation newest first, so page `0` is always the latest exchange; `ASC` reads
    it as a transcript, from the first question. Both pages carry `total`, the number of posts
    in the session.

    `DELETE` removes a post and its attachments — a soft delete — and leaves the documents and
    chunks they pointed at untouched. Deleting the session removes its posts the same way.

    `POST /v1/post/` is the deprecated spelling of the query endpoint; it still works and
    `GET /v1/post/q` replaces it.
  name: Post
- description: |
    A **corpus** is a knowledge base: the container documents are ingested into and the scope a
    query is answered from. It is also the unit ownership is checked against — every document,
    chunk, session and post hangs off a corpus, and the corpus is what ties them to your
    organization. The organization itself is never a parameter; it comes from your token.

    A corpus carries a name, a description and a free-form `metadata` map, and nothing else you
    have to decide up front. **How** a query against it is answered is deliberately not its
    business: retrieval width, re-ranking, the system instruction and the models that answer all
    belong to the agent named on each query (`GET /v1/agent/`), so two questions against the same
    corpus can run under two different setups.

    A document belongs to exactly one corpus. A session may be bound to several, and a query then
    searches all of them at once — which is how one conversation spans separate knowledge bases.

    `DELETE` **cascades to everything the corpus owns**: its documents, their chunks, and the
    sessions and posts answered from it all stop being reachable. It is a soft delete — the rows
    are stamped rather than removed and the archived files are kept in storage — but nothing in
    the public API brings them back, so from a client's point of view it is permanent. There is
    no undo endpoint.
  name: Corpus
- description: |
    A **chunk** is one embeddable piece of a document: the text that was vectorised, the pages
    it came from, and the metadata ingestion attached to it. It is the unit RAG actually
    retrieves — a post's attachments point at chunks, not at documents.

    This domain is a window onto ingestion's output. **Chunks are never created here**: the
    pipeline splits a document, embeds each piece and stores both halves, and what these
    endpoints add is the two things it cannot do — showing you what came out, and letting you
    fix a chunk that came out wrong.

    Two fields of the underlying row are not published. The 1024-dimension vector is the search
    index: meaningless to read, and it would dominate every payload. The old scalar `page`
    column is superseded by `pages`, which records the whole span a chunk covers.
  name: Chunk
- description: |
    What your organization has consumed — tokens, corpora, sessions, posts and storage — at three
    scopes: the whole organization, one of its users, or one of its corpora.

    Every response carries the same two shapes. The headline counters are **lifetime** totals
    plus what was created and removed over the reported range. `series` is the same deltas
    bucket by bucket, which is what a metrics page charts.

    `timeframe` selects the **bucket size**, not a window length, and buckets are aligned to UTC
    calendar boundaries — so two calls minutes apart return the same edges and two reports
    overlay on one chart. Only **completed** buckets are reported: the series stops at the start
    of the bucket `now` falls in, so `to` sits in the past and every entry is final, which is
    what makes a cached chart safe. The trade is that today's activity waits for its bucket to
    close before it appears in the series, while the lifetime totals count it immediately.

    **Soft-deleted items still count toward the lifetime totals** — the tokens were billed and
    the storage was charged when they were produced, and deleting them afterwards does not
    refund that. The `removed` delta is the supported way to see cleanup activity.

    `corpora` is absent at user and corpus scope, where its cardinality is meaningless.
  name: Usage
paths:
  /v1/doc/{id}/init:
    put:
      description: |
        Replace the **content** of an existing document while keeping its identity: same
        `id`, same `filename`, `userId`, `provider`, `lang`, `metadata`, `tags`, `chunk`
        and source dates. Use `PATCH /v1/doc/{id}` to change those attributes — this
        endpoint only touches the file behind them.

        The document must be in `READY` or `FAILED` status; any other status is rejected
        with `409`, since there is either nothing ingested yet or an ingestion in flight.

        Everything derived from the previous content is dropped: its embeddings, its
        summary, and the counters filled in by ingestion (`size`, `tokens`, `nbWords`).
        The document moves back to `AWAITING_UPLOAD` and the response carries a fresh
        presigned PUT URL — the same payload as `POST /v1/doc/init`. From there the flow
        is unchanged: PUT the new bytes, then call `POST /v1/doc/{id}/commit`.

        Two things to be aware of:

        - Posts that cited this document **lose their attachments to it**: the chunks
          those citations point at are deleted, so they no longer resolve. Answers
          already returned to users are not modified.
        - The previously uploaded file **stays in storage** until your PUT overwrites it.
          Committing without uploading first therefore re-ingests the old content.
      operationId: reinitUpload
      parameters:
      - description: ID of the document whose content is being replaced.
        example: 123e4567-e89b-12d3-a456-426614174000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content: {}
          description: The document's content type is no longer accepted — see `GET
            /v1/doc/accept`.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content: {}
          description: "Document is not in `READY` or `FAILED` status — nothing to\
            \ replace, or an ingestion is in flight."
        "200":
          content:
            application/json:
              example:
                document:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  corpusId: 550e8400-e29b-41d4-a716-446655440001
                  userId: 550e8400-e29b-41d4-a716-446655440099
                  filename: annual-report-2025.pdf
                  contentType: application/pdf
                  status: AWAITING_UPLOAD
                  provider: user
                  lang: en
                  metadata:
                    source: user
                    team: legal
                  tags:
                  - legal
                  - "2026"
                  chunk:
                    strategy: by_title
                    max_characters: 10000
                    combine_text_under_n_chars: 1000
                  docCreate: 2026-01-15T10:30:00Z
                  docUpdate: 2026-04-01T08:00:00Z
                  createdAt: 2026-05-21T10:00:00Z
                  updatedAt: 2026-06-02T09:30:00Z
                  size: null
                  tokens: null
                  nbWords: null
                  nbPages: 0
                uploadUrl: https://s3.fr-par.scw.cloud/bucket/documents/550e8400-e29b-41d4-a716-446655440001/src/550e8400-e29b-41d4-a716-446655440000?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=...
                expiresAt: 2026-06-02T09:45:00Z
              schema:
                $ref: "#/components/schemas/DocumentInit"
          description: Document reset to AWAITING_UPLOAD status. PUT the new file
            to `uploadUrl`.
      security:
      - JWT: []
      - AccessToken: []
      summary: Re-initialize a document for a new upload
      tags:
      - Document
      x-accepts:
      - application/json
  /v1/session/:
    get:
      description: |
        Paginate every session of the caller's organization, newest first.

        The organization is resolved from the JWT, so there is nothing to pass and no
        way to ask for another tenant's sessions. A session belongs to an organization
        as soon as one of its corpora does.

        The ordering is closed by the session id, so walking `pageIndex` never shows the
        same session twice nor skips one when several were opened in the same
        millisecond. `total` counts every session in the organization, not just those
        returned here.

        To narrow the result — by user, by corpus, by metadata, or by any combination of
        the three — use `GET /v1/session/q`, which takes the same paging parameters.
      operationId: list
      parameters:
      - description: "Number of items per page, 1-100."
        example: 25
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Zero-based page index.
        example: 0
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                orgId: 550e8400-e29b-41d4-a716-446655440099
                pageIndex: 0
                pageSize: 25
                total: 2
                items:
                - id: 550e8400-e29b-41d4-a716-446655440001
                  userId: user_42
                  corpusIds:
                  - 550e8400-e29b-41d4-a716-446655440000
                  metadata:
                    customer_id: "42"
                  createdAt: 2026-04-23T04:06:51Z
                  updatedAt: 2026-04-23T04:06:51Z
                - id: 550e8400-e29b-41d4-a716-446655440002
                  userId: user_43
                  corpusIds:
                  - 550e8400-e29b-41d4-a716-446655440000
                  createdAt: 2026-04-22T10:00:00Z
                  updatedAt: 2026-04-22T11:30:00Z
              schema:
                $ref: "#/components/schemas/SessionListResponse"
          description: Page of sessions.
      security:
      - JWT: []
      - AccessToken: []
      summary: List sessions
      tags:
      - Session
      x-accepts:
      - application/json
    post:
      description: "Open a new conversation session against one or more corpora. The\
        \ session is attached to the user carried by the caller's JWT. How its queries\
        \ are answered is not decided here: the agent named on each query decides,\
        \ so a session carries the corpora, the owner and whatever metadata you attach\
        \ to it."
      operationId: create
      requestBody:
        content:
          application/json:
            examples:
              Support session:
                description: Support session
                summary: Single-corpus session carrying a customer reference
                value:
                  corpusIds:
                  - 550e8400-e29b-41d4-a716-446655440000
                  metadata:
                    customer_id: "42"
            schema:
              $ref: "#/components/schemas/SessionCreateRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                userId: user_42
                corpusId:
                - 550e8400-e29b-41d4-a716-446655440000
                metadata:
                  customer_id: "42"
                createdAt: 2026-04-23T04:06:51Z
                updatedAt: 2026-04-23T04:06:51Z
              schema:
                $ref: "#/components/schemas/SessionCreateResponse"
          description: Session created.
      security:
      - JWT: []
      - AccessToken: []
      summary: Create a session
      tags:
      - Session
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/doc/{id}/commit:
    post:
      description: |
        Step 2 of the upload flow. Confirms that the file has been PUT to the presigned URL returned
        by `POST /v1/doc/init` and **asynchronously** triggers ingestion (markdown conversion,
        summarization, chunking, embedding).

        Before queuing, the server validates the uploaded object: it must exist, declare a supported
        content type, fit under the per-document size limit, and not already be present in the same
        corpus (duplicate detection by content hash).

        The response is returned as soon as the document is moved to `PROCESSING`. Poll
        `GET /v1/doc/{id}/status` to observe the final `READY` or `FAILED` status.

        Idempotent: committing a document already in `READY` status returns the current state unchanged.
      operationId: commitUpload
      parameters:
      - description: ID of the document returned by `POST /v1/doc/init`.
        example: 123e4567-e89b-12d3-a456-426614174000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "202":
          content:
            application/json:
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                corpusId: 550e8400-e29b-41d4-a716-446655440001
                filename: annual-report-2025.pdf
                contentType: application/pdf
                provider: user
                lang: en
                metadata:
                  source: user
                  team: legal
                tags:
                - legal
                - "2026"
                chunk:
                  strategy: by_title
                  max_characters: 10000
                  combine_text_under_n_chars: 1000
                docCreate: 2026-01-15T10:30:00Z
                docUpdate: 2026-04-01T08:00:00Z
                createdAt: 2026-04-23T04:06:51Z
                nbPages: 0
              schema:
                $ref: "#/components/schemas/Document"
          description: Ingestion queued. Document moved to PROCESSING.
      security:
      - JWT: []
      - AccessToken: []
      summary: Commit a previously initialized upload
      tags:
      - Document
      x-accepts:
      - application/json
  /v1/doc/init:
    post:
      description: |
        Step 1 of the upload flow. Validates inputs, creates a document in `AWAITING_UPLOAD` status,
        and returns a single-use presigned PUT URL the client must use to push the file bytes
        directly to S3 — no content flows through this server.

        The returned `uploadUrl` is bound to the requested `contentType`: the client MUST send a
        matching `Content-Type` header in the PUT request, or S3 will reject it.

        After the PUT succeeds, call `POST /v1/doc/{id}/commit` to trigger ingestion.

        Accepted content types are listed by `GET /v1/doc/accept`.

        Two optional fields shape what happens later: `tags` classifies the document so
        `GET /v1/doc/?tags=…` can find it, and `chunk` overrides how ingestion splits it
        into embeddable pieces. `chunk` accepts the Unstructured chunking options
        (`strategy`, `max_characters`, `overlap`, …) — see the request schema for the
        full key reference, and the *Chunking* examples below for the three shapes that
        cover most documents. Omit `chunk` and the platform default applies
        (`by_title`, `max_characters: 10000`, `combine_text_under_n_chars: 1000`).
      operationId: initUpload
      requestBody:
        content:
          application/json:
            examples:
              Minimal:
                description: Minimal
                summary: Required fields only
                value:
                  corpusId: 550e8400-e29b-41d4-a716-446655440001
                  filename: annual-report-2025.pdf
                  contentType: application/pdf
              Full:
                description: Full
                summary: All optional fields populated
                value:
                  corpusId: 550e8400-e29b-41d4-a716-446655440001
                  filename: annual-report-2025.pdf
                  contentType: application/pdf
                  lang: fr
                  provider: user
                  userId: 550e8400-e29b-41d4-a716-446655440099
                  docCreate: 2026-01-15T10:30:00Z
                  docUpdate: 2026-04-01T08:00:00Z
                  metadata:
                    source: user
                    team: legal
                  tags:
                  - legal
                  - "2026"
                  chunk:
                    strategy: by_title
                    max_characters: 10000
                    combine_text_under_n_chars: 1000
              Chunking — structured document:
                description: |
                  The platform default, spelled out. `by_title` opens a new chunk at each
                  section heading so a chunk never straddles two topics. Sections shorter
                  than `combine_text_under_n_chars` are merged with the next one, which
                  stops a document full of one-line headings from producing hundreds of
                  near-empty chunks.
                summary: "by_title: keep chunks inside a section (reports, contracts,\
                  \ manuals)"
                value:
                  corpusId: 550e8400-e29b-41d4-a716-446655440001
                  filename: annual-report-2025.pdf
                  contentType: application/pdf
                  chunk:
                    strategy: by_title
                    max_characters: 10000
                    combine_text_under_n_chars: 1000
              Chunking — flat prose:
                description: |
                  `basic` ignores document structure and fills each chunk to the limit.
                  Smaller chunks retrieve more precisely; `overlap_all: true` repeats the
                  last 200 characters of each chunk at the start of the next so a sentence
                  cut across a boundary is still retrievable from both sides. The cost is
                  duplicated text in your embeddings — keep `overlap` well under 10% of
                  `max_characters`.
                summary: "basic + overlap: transcripts, articles, anything without\
                  \ headings"
                value:
                  corpusId: 550e8400-e29b-41d4-a716-446655440001
                  filename: board-meeting-transcript.txt
                  contentType: text/plain
                  chunk:
                    strategy: basic
                    max_characters: 4000
                    new_after_n_chars: 3000
                    overlap: 200
                    overlap_all: true
              Chunking — one chunk per section:
                description: |
                  For documents where each section is a self-contained unit — an FAQ, a
                  product catalogue, a policy handbook. `combine_text_under_n_chars: 0`
                  disables merging so every section becomes its own chunk however short it
                  is, and `multipage_sections: false` additionally closes the chunk at each
                  page break, which keeps citations pointing at a single page.
                summary: by_title with combining disabled and page breaks enforced
                value:
                  corpusId: 550e8400-e29b-41d4-a716-446655440001
                  filename: product-catalogue.pdf
                  contentType: application/pdf
                  chunk:
                    strategy: by_title
                    max_characters: 6000
                    combine_text_under_n_chars: 0
                    multipage_sections: false
            schema:
              $ref: "#/components/schemas/DocumentInitRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                document:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  corpusId: 550e8400-e29b-41d4-a716-446655440001
                  userId: 550e8400-e29b-41d4-a716-446655440099
                  filename: annual-report-2025.pdf
                  contentType: application/pdf
                  status: AWAITING_UPLOAD
                  provider: user
                  lang: en
                  metadata:
                    source: user
                    team: legal
                  tags:
                  - legal
                  - "2026"
                  chunk:
                    strategy: by_title
                    max_characters: 10000
                    combine_text_under_n_chars: 1000
                  docCreate: 2026-01-15T10:30:00Z
                  docUpdate: 2026-04-01T08:00:00Z
                  createdAt: 2026-05-21T10:00:00Z
                  updatedAt: 2026-05-21T10:00:00Z
                  size: null
                  tokens: null
                  nbWords: null
                  nbPages: 0
                uploadUrl: https://s3.fr-par.scw.cloud/bucket/documents/550e8400-e29b-41d4-a716-446655440001/src/550e8400-e29b-41d4-a716-446655440000?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=900&X-Amz-Signature=...
                expiresAt: 2026-05-21T10:15:00Z
              schema:
                $ref: "#/components/schemas/DocumentInit"
          description: Document created in AWAITING_UPLOAD status. PUT the file to
            `uploadUrl`.
      security:
      - JWT: []
      - AccessToken: []
      summary: Initialize a direct-to-storage upload
      tags:
      - Document
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/corpus/:
    get:
      description: Paginate corpora belonging to an organization.
      operationId: list_1
      parameters:
      - description: Number of items per page.
        example: 25
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Zero-based page index.
        example: 0
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                orgId: 550e8400-e29b-41d4-a716-446655440000
                pageIndex: 0
                items:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  createdAt: 2026-04-23T04:06:51Z
                  updatedAt: 2026-04-23T04:06:51Z
                  name: Support knowledge base
                  description: "Tickets, FAQs and runbooks used by the support team."
                  metadata:
                    owner: support-team
                    language: fr
              schema:
                $ref: "#/components/schemas/CorpusListResponse"
          description: Page of corpora.
      security:
      - JWT: []
      - AccessToken: []
      summary: List corpora
      tags:
      - Corpus
      x-accepts:
      - application/json
    post:
      description: "Create a new corpus inside an organization. The organization is\
        \ taken from your token, so there is nothing to pass: a corpus needs only\
        \ a name, and optionally a description and metadata."
      operationId: create_1
      requestBody:
        content:
          application/json:
            examples:
              Support knowledge base:
                description: Support knowledge base
                summary: Corpus with nomic-embed-text + gemma4
                value:
                  name: Support knowledge base
                  description: "Tickets, FAQs and runbooks used by the support team."
                  metadata:
                    owner: support-team
                    language: fr
            schema:
              $ref: "#/components/schemas/CorpusCreateRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                createdAt: 2026-04-23T04:06:51Z
                name: Support knowledge base
                description: "Tickets, FAQs and runbooks used by the support team."
                metadata:
                  owner: support-team
                  language: fr
              schema:
                $ref: "#/components/schemas/CorpusCreateResponse"
          description: Corpus created.
      security:
      - JWT: []
      - AccessToken: []
      summary: Create a corpus
      tags:
      - Corpus
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/auth/access-token:
    post:
      description: "Generate a new short-lived opaque access token for the caller's\
        \ organization. The token can be used as the `X-Access-Token` header on `/v1/`\
        \ API calls. Default TTL is 3600 seconds (1 hour).By default, token inherit\
        \ privileges over all the domains. To limit access, defined a list of scope,\
        \ where each must be compliant with the regex (config|auth|session|doc|chunk|corpus|post|usage|agent):(create|read|update|delete)"
      operationId: create_2
      requestBody:
        content:
          application/json:
            examples:
              simple request with restricted access to CREATE document:
                description: simple request with restricted access to CREATE document
                value:
                  scope:
                  - doc:create
              "1-hour token for widget with restricted access to READ corpus and CREATE document":
                description: 1-hour token for widget with restricted access to READ
                  corpus and CREATE document
                value:
                  ttl: 3600
                  issuer: widget-frontend
                  email: user@example.com
                  scope:
                  - corpus:read
                  - doc:create
            schema:
              $ref: "#/components/schemas/AccessTokenCreateRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example: |
                {
                  "id": "550e8400-e29b-41d4-a716-446655440000",
                  "token": "abc123...",
                  "orgId": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
                  "createdAt": "2026-07-07T10:00:00Z",
                  "expiresAt": "2026-07-07T11:00:00Z",
                  "scope": ["corpus:read"],
                }
              schema:
                $ref: "#/components/schemas/AccessTokenCreateResponse"
          description: Access token created.
      security:
      - JWT: []
      summary: Create an access token
      tags:
      - Auth
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/agent/:
    get:
      description: |
        Paginate every agent your organization can query with: the platform's core agents
        merged with your own custom ones, **core first**, then by name.

        There is no separate endpoint for the core catalogue — the merge is the point.
        Tell the two apart by `lock`: `true` is a platform agent you can read and use but
        not modify. A brand-new organization sees six of them, one per use case, and the
        single agent carrying `default: true` is the one a query that names no agent runs
        on.
      operationId: list_2
      parameters:
      - description: Number of items per page.
        example: 25
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Zero-based page index.
        example: 0
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              examples:
                One core agent and one custom agent:
                  description: One core agent and one custom agent
                  value:
                    pageIndex: 0
                    items:
                    - id: 9f2b1c44-0f2a-4c3e-9a1b-2d7e5f0a1b22
                      name: Verbatim Default
                      description: Platform agent used when a query names none.
                      lock: true
                      default: true
                      topK: 10
                      rerank: true
                      rerankTopK: 3
                      context: "Use the following document excerpts to answer the\
                        \ user:"
                      useHistory: true
                      thinkingMode: HIGH
                      rerankModel: gemma4
                      createdAt: 2026-04-23T04:06:51Z
                      updatedAt: 2026-04-23T04:06:51Z
                    - id: 1a7c9e10-5b3d-4a2f-8c6e-9d0b3f4a5c61
                      name: Support assistant
                      lock: false
                      default: false
                      topK: 8
                      rerank: true
                      rerankTopK: 4
                      spirit: Warm and reassuring. Never blame the customer.
                      useHistory: true
                      historySize: 10
                      thinkingMode: LOW
                      temperature: 0.2
                      baseModel: mistral
                      createdAt: 2026-08-25T09:12:00Z
                      updatedAt: 2026-08-25T09:12:00Z
              schema:
                $ref: "#/components/schemas/AgentListResponse"
          description: Page of agents.
      security:
      - JWT: []
      - AccessToken: []
      summary: List agents
      tags:
      - Agent
      x-accepts:
      - application/json
    post:
      description: |
        Create a custom agent owned by your organization.

        Only `name` is required — the smallest useful body is `{"name": "..."}`, which
        produces an agent identical in behaviour to the platform default and free to
        diverge from it later. Every field you leave out either takes its column default
        (`topK` 5, `rerank` true, `useHistory` true, `thinkingMode` HIGH) or stays unset
        and tracks the platform value.

        `name` must be free: not one of your own agents' names, and not one carried by a
        platform agent (`lock: true`) either — both answer `409`. Core agents appear in
        your listing, so `Verbatim Default` there and `Verbatim Default` of your own
        would be two entries you could only tell apart by `lock`. Names are compared
        exactly, so `Support` and `support` are two names and `Verbatim Default v2` is
        free. Deleting an agent puts its name back into circulation.

        `rerankModel` and `baseModel` are checked against `GET /v1/config/model` here
        rather than at query time, so a typo is a `400` on this request instead of a
        failure on every query the agent later runs.

        The result is always `lock: false` and `default: false`. Core agents are seeded
        by the platform and cannot be created over the API.
      operationId: create_3
      requestBody:
        content:
          application/json:
            examples:
              Minimal:
                description: Minimal
                summary: Name only — everything else tracks the platform default
                value:
                  name: Support assistant
              Tuned for support chat:
                description: Tuned for support chat
                summary: "Narrow retrieval, short history, low latency"
                value:
                  name: Support assistant
                  description: Answers customer questions from the support knowledge
                    base.
                  topK: 8
                  rerank: true
                  rerankTopK: 4
                  spirit: Warm and reassuring. Never blame the customer.
                  useHistory: true
                  historySize: 10
                  thinkingMode: LOW
                  temperature: 0.2
                  baseModel: mistral
              One-shot analyst:
                description: One-shot analyst
                summary: "Wide retrieval, no history, full reasoning"
                value:
                  name: Contract analyst
                  description: Reads one question at a time against the whole contract
                    corpus.
                  topK: 20
                  rerank: true
                  rerankTopK: 8
                  context: You are reading excerpts of legal contracts. Quote the
                    clause you rely on.
                  behaviour: "Answer only from the excerpts. If a clause is ambiguous,\
                    \ say which reading you took and why."
                  useHistory: false
                  thinkingMode: HIGH
                  temperature: 0
            schema:
              $ref: "#/components/schemas/AgentCreateRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content: {}
          description: "Missing or over-long `name`, a non-positive `topK` / `rerankTopK`\
            \ / `historySize`, a `temperature` outside 0–1, or a model name `GET /v1/config/model`\
            \ does not advertise."
        "409":
          content: {}
          description: "This `name` is taken — by one of your agents, or by a platform\
            \ agent."
        "200":
          content:
            application/json:
              example:
                id: 1a7c9e10-5b3d-4a2f-8c6e-9d0b3f4a5c61
                name: Support assistant
                lock: false
                default: false
                topK: 8
                rerank: true
                rerankTopK: 4
                useHistory: true
                historySize: 10
                thinkingMode: LOW
                temperature: 0.2
                baseModel: mistral
                createdAt: 2026-08-25T09:12:00Z
                updatedAt: 2026-08-25T09:12:00Z
              schema:
                $ref: "#/components/schemas/Agent"
          description: Agent created.
      security:
      - JWT: []
      - AccessToken: []
      summary: Create an agent
      tags:
      - Agent
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/session/{sessionId}:
    delete:
      description: Soft-delete a session. **Cascades** to every post in the session
        (also soft-deleted). Documents and embeddings are **not** affected.
      operationId: delete
      parameters:
      - description: ID of the session to delete.
        example: 123e4567-e89b-12d3-a456-426614174000
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                timestamp: 2026-04-23T04:06:51Z
                message: Operation acknowledged
              schema:
                $ref: "#/components/schemas/AckResponse"
          description: Session and posts deleted.
      security:
      - JWT: []
      - AccessToken: []
      summary: Delete a session
      tags:
      - Session
      x-accepts:
      - application/json
    get:
      description: "Fetch a session's metadata (user, corpora, model, system prompt,\
        \ parameters). Use `GET /v1/post` to retrieve its posts."
      operationId: get
      parameters:
      - description: ID of the session.
        example: 123e4567-e89b-12d3-a456-426614174000
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                userId: user_42
                corpusIds:
                - 550e8400-e29b-41d4-a716-446655440000
                metadata:
                  customer_id: "42"
                createdAt: 2026-04-23T04:06:51Z
                updatedAt: 2026-04-23T04:06:51Z
              schema:
                $ref: "#/components/schemas/Session"
          description: Session found.
      security:
      - JWT: []
      - AccessToken: []
      summary: Get a session
      tags:
      - Session
      x-accepts:
      - application/json
    patch:
      description: Patch one or more session attributes. Only the fields provided
        in the request body are updated; omitted fields keep their current value.
        Returns the full updated session.
      operationId: update
      parameters:
      - description: ID of the session to update.
        example: 123e4567-e89b-12d3-a456-426614174000
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Attach a ticket:
                description: Attach a ticket
                summary: Replace the session metadata
                value:
                  metadata:
                    customer_id: "42"
                    ticket: SUPP-999
            schema:
              $ref: "#/components/schemas/SessionUpdateRequest"
        required: true
      responses:
        "500":
          content:
            application/json:
              examples:
                Internal error:
                  description: Internal error
                  summary: Generic 500 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 500
                    error: Internal Server Error
                    message: corpus not found
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal error. Check body to get more info
        "415":
          content:
            application/json:
              examples:
                Invalid content type error:
                  description: Invalid content type error
                  summary: Generic 415 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 415
                    error: invalid content type
                    message: application/json is not supported
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Content type not accepted by the platform. See `GET /v1/doc/accept`
            for the list of supported types.
        "403":
          content:
            application/json:
              examples:
                Forbidden error:
                  description: Forbidden error
                  summary: Generic 403 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 403
                    error: Access forbidden
                    message: Access not granted for this resource
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: Not authorized. Access not granted for this request
        "404":
          content:
            application/json:
              examples:
                Not found error:
                  description: Not found error
                  summary: Generic 404 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 404
                    error: Resource not found
                    message: Resource not exist or id is invalid
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The resource referenced by the request does not exist.
        "400":
          content:
            application/json:
              examples:
                Bad request error:
                  description: Bad request error
                  summary: Generic 400 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 400
                    error: Bad Request
                    message: pages list must not be empty
                    path: /v1/doc/id/preview
              schema:
                $ref: "#/components/schemas/Error"
          description: The request is malformed or contains invalid parameters.
        "409":
          content:
            application/json:
              examples:
                Conflicts error:
                  description: Conflicts error
                  summary: Generic 409 payload
                  value:
                    timestamp: 2026-04-23T04:06:51Z
                    status: 409
                    error: conflicts on ressource
                    message: state not match with request
                    path: /v1/corpus/id
              schema:
                $ref: "#/components/schemas/Error"
          description: The request conflicts with the current state of the resource.
        "200":
          content:
            application/json:
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                userId: user_42
                corpusIds:
                - 550e8400-e29b-41d4-a716-446655440000
                metadata:
                  customer_id: "42"
                  ticket: SUPP-999
                createdAt: 2026-04-23T04:06:51Z
                updatedAt: 2026-05-02T09:12:00Z
              schema:
                $ref: "#/components/schemas/Session"
          description: Session updated.
      security:
      - JWT: []
      - AccessToken: []
      summary: Update a session
      tags:
      - Session
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/doc/{id}:
    delete:
      description: |
        Remove a document from its corpus.

        **This is a soft delete, and it cascades to the document's chunks.** The
        document and every chunk it was split into disappear from the API together and
        stop being retrievable as context, so no answer produced from now on can be
        built on them. Nothing is destroyed underneath: the archived file and the
        chunks' stored text are kept. There is no endpoint that undoes it.

[...]
